body {
  background: teal;
}

p{
  display: inline;
  margin-right: 10px;
}

#calendar{
  border-style: solid;
  border-radius: 5px;
  border-top-color: black;
}

.day{
  margin: 5px,5px,5px,5px;

}
/*
#loginBox {
  position: relative;
  top: 50%;
  margin-top: 28%;
  padding-left: 400px;
}
h1 {
  padding-left: 34px;
}
#submitButtonHolder {
  padding-bottom: 10px;
}

#submitButton {
  width: 62px;
}

#registerButton {
  width: 62px;
}

h1{
  padding-bottom: 20px;
}

#loginPassword {
  padding-bottom: 10px;
}

#register {
  background: #777777;
  padding: 10px;
  position: relative;
  top: 50%;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30%; 
}

#firstName {
  height: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#userName {
  margin-bottom: 10px;
  margin-right: 10px;

}

#passwordentry {
  display: block;
  margin-bottom: 10px;
}

#confirmPassword {
  margin-bottom: 10px;
}

#registerSubmitButton{
  margin-right: 10px;
  float: right;
}

#upvote {
  display: block;
  width: 53px;
}

#downvote {
  width: 53px;
  margin-bottom: 4px;
}
#votes{
  display: inline-block;
  margin-right: 70px;
}

#postBody {
  display: inline-block;
}

#userNameParagraph {
  margin-bottom: -28px;
}

#userVotes {
  padding-bottom: 20px;
}

#blogPost {
  margin-right: 15px;
  width: 146px;
}

#blogPostContainer {
  border-radius: 5px;
  border-style: solid;
  margin: 5px 5px 5px 5px;
}*/