/*id's: workBox, tabs, workArea, , list-of-visitors, schedule*/
/*created id's for: match, available, upload, matchButton, data*/
/*Yellow: #F5CB5C*/
html, body, h1, h2, h3, h4, p, div, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 200;
	list-style: none;
	text-decoration: none;
}
@font-face {
	font-family: "ACMountain";
	src: url(https://github.com/patriciarealini/blogWithUpVoting/blob/master/fonts/ACMountain.otf);
}
#header {
  font-family: "ACMountain", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 75px;
  text-align: center;
  color: #F5CB5C;
  background-color: #000000;
  padding: 30px 0;
}
#workBox, #available-box, #Upload-box {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
/*nav bar*/
@media screen and (max-width:600px)  {
	#tabs {
		background-color: #3F3F3F;
		display: block;
		width: 100vw;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#tabs li{
	  font-size: 25px;
		font-weight: 200;
		display: block;
		text-align: center;
		color: #FFFFFF;
	}
	#classAvailable {
		margin: 5vh 2vw;
	}
}
@media screen and (min-width:601px)  {
	#tabs {
		background-color: #3F3F3F;
		display: inline-block;
		width: 100vw;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#nav {
		display: table;
		width: 100%;
	}
	#tabs {
		display: table-cell;
		text-align: center;
	}
	#tabs li{
	  font-size: 25px;
		font-weight: 200;
	  padding: 0 5%;
		display: inline;
		color: #FFFFFF;
	}
	#classAvailable {
		margin: 5vh 8vw;
	}
}
#tabs li:hover{
	color: #F5CB5C;
}
/*Buttons*/
#matchButton, #exportButton, #submitButton, #txtFileUpload  {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 200;
  padding: 10px 20px;
  border: 1px;
  border-radius: 4px;
	display: block;
	margin: 10px auto 10px auto;
}
/*Match Component*/
/*
#data {
	display: table;
}
*/
#data {
	display: table;
	width: 75%;
}
#dataTable {
	display: table-cell;
}
#dataTable td {
	padding: ;
	border-width: 1px;
	border-spacing: none;
}
/*
.tableDive #dataTable table td {

}
*/
/*Available Component*/
#topRow {
	text-align: center;
}
/*Upload Component*/
#uploadForm, #dvImportSegments {
	width: 50%;
	margin: 15px auto;
	text-align: center;
}
#file-form {
}
#radio-buttons {
}
.fileupload {
	display: block;
	margin: 0 auto;
}

/*?*/
#calendar{
  border-style: solid;
  border-radius: 5px;
  border-top-color: black;
}

.day{
  margin: 5px,5px,5px,5px;
}
#array-of-individuals{
overflow:scroll;
height:400px;
}

.row-title{
  display: inline;
}
.table-row{
  display: block;
}

.sections{
  display: inline-block;
  width: 16.66%;
}

/*
#loginBox {
  position: relative;
  top: 50%;
  margin-top: 28%;
  padding-left: 400px;
}
h1 {
  padding-left: 34px;
}
#submitButtonHolder {
  padding-bottom: 10px;
}

#submitButton {
  width: 62px;
}

#registerButton {
  width: 62px;
}

h1{
  padding-bottom: 20px;
}

#loginPassword {
  padding-bottom: 10px;
}

#register {
  background: #777777;
  padding: 10px;
  position: relative;
  top: 50%;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30%;
}

#firstName {
  height: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#userName {
  margin-bottom: 10px;
  margin-right: 10px;

}

#passwordentry {
  display: block;
  margin-bottom: 10px;
}

#confirmPassword {
  margin-bottom: 10px;
}

#registerSubmitButton{
  margin-right: 10px;
  float: right;
}

#upvote {
  display: block;
  width: 53px;
}

#downvote {
  width: 53px;
  margin-bottom: 4px;
}
#votes{
  display: inline-block;
  margin-right: 70px;
}

#postBody {
  display: inline-block;
}

#userNameParagraph {
  margin-bottom: -28px;
}

#userVotes {
  padding-bottom: 20px;
}

#blogPost {
  margin-right: 15px;
  width: 146px;
}

#blogPostContainer {
  border-radius: 5px;
  border-style: solid;
  margin: 5px 5px 5px 5px;
}*/
