/*id's: workBox, tabs, workArea, , list-of-visitors, schedule*/
/*created id's for: match, available, upload, matchButton, data*/
html, body, h1, h2, h3, h4, p, div, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 200;
	list-style: none;
	text-decoration: none;
}
@font-face {
  font-family: "Ribbon";
  src: url(https://github.com/patriciarealini/blogWithUpVoting/blob/gh-pages/fonts/Ribbon_V2_2011.otf);
}
#header {
  font-family: "Ribbon", "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  color: #F5CB5C;
  background-color: #000000;
  padding: 20px 0 20px 0;
}
#workBox {

}
#tabs {
  padding: 30px;
}
#tabs li{
  display: inline;
  padding: 15px;
}
#calendar{
  border-style: solid;
  border-radius: 5px;
  border-top-color: black;
}
.day{
  margin: 5px,5px,5px,5px;

}
#array-of-individuals{
overflow:scroll;
height:400px;
}

.row-title{
  display: inline;
}
.table-row{
  display: block;
}

.sections{
  display: inline-block;
  width: 16.66%;
}

/*
#loginBox {
  position: relative;
  top: 50%;
  margin-top: 28%;
  padding-left: 400px;
}
h1 {
  padding-left: 34px;
}
#submitButtonHolder {
  padding-bottom: 10px;
}

#submitButton {
  width: 62px;
}

#registerButton {
  width: 62px;
}

h1{
  padding-bottom: 20px;
}

#loginPassword {
  padding-bottom: 10px;
}

#register {
  background: #777777;
  padding: 10px;
  position: relative;
  top: 50%;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30%;
}

#firstName {
  height: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#userName {
  margin-bottom: 10px;
  margin-right: 10px;

}

#passwordentry {
  display: block;
  margin-bottom: 10px;
}

#confirmPassword {
  margin-bottom: 10px;
}

#registerSubmitButton{
  margin-right: 10px;
  float: right;
}

#upvote {
  display: block;
  width: 53px;
}

#downvote {
  width: 53px;
  margin-bottom: 4px;
}
#votes{
  display: inline-block;
  margin-right: 70px;
}

#postBody {
  display: inline-block;
}

#userNameParagraph {
  margin-bottom: -28px;
}

#userVotes {
  padding-bottom: 20px;
}

#blogPost {
  margin-right: 15px;
  width: 146px;
}

#blogPostContainer {
  border-radius: 5px;
  border-style: solid;
  margin: 5px 5px 5px 5px;
}*/
